
#board {
    display: block;
    background: silver;
    border-color: black;
    border-width: 1px 0 0 1px;
    border-style: solid;
    cursor: pointer;
}


.field {
    display: inline-block;
    box-sizing: border-box;
    border-color: black;
    border-width: 0 1px 1px 0;
    border-style: solid;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
}
